/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Space+Grotesk:wght@300;400;500;700&display=swap');

/* project variables */
:root {
    --bg-main-color: #1f2937;
    --bg-sec-color: #FFFFFF;
    --bg-quote-color: #E5E7EB;
    --bg-cta-color: #3882F6;

    --text-pr: #f9faf8;
    --text-sec: ##E5E7EB;
    --text-qouote: #1F2937;
    --text-thr: #1F2937;

    --main-font: 'Space Grotesk', sans-serif;
    --sec-font: 'Lora', serif;
}

/* Nulify some styles */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0; 
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: inherit;
}

p {
    font-family: inherit;
    font-weight: inherit;
}

a,
a::after,
a::before {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: var(--text-sec);
}

ul,
ol {
    list-style: none;
}

button {
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}


/* Main styles */
body {
    background-color: var(--bg-main-color);
    color: var(--text-pr);
    font-family: var(--main-font);
    font-weight: 400;
}

.wrapper {
    padding: 1rem 3rem;
    max-width: 80rem;
    margin: 0 auto;
}

nav {
    padding-bottom: 1rem;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1,125rem;
    line-height: 1.2;
}

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .menu > ul {
        display: flex;
        gap: 1.2rem;
        color: var(--bg-quote-color);
    }

.hero_block {
    padding: 8.5rem 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    
}

    .hero_block > section {
        max-width: 31.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

        .hero_block > section > h1 {
            font-size: 3rem;
            font-weight: 900;
            line-height: 1.2;
        }

        .hero_block > section > p {
            font-size: 1.125rem;
            line-height: 1.5;
        }

        .hero_block > section > button {
            max-width: 12.5rem;
            padding: 0.75rem 1.5rem;
            background-color: var(--bg-cta-color);
            border-radius: 0.25rem;
            color: var(--text-pr);
            font-size: 1.250rem;
            font-weight: 700;
            line-height: 1.2;
        }

        .hero_block > img {
            align-content: top;
            min-width: 25rem;
            max-height: 15.5rem;
        }

